<br />
<h4>About Web Extractor</h4>
<p><strong><%= time = Time.now %></strong></p>
<p>
Banyak aplikasi web yang dapat memanfaatkan data yg telah diekstrak dari halaman web. Data yang telah diekstrak dari suatu web site dapat diintegerasikan dalam satu data collection untuk kemudian diolah sesuai dengan kebutuhan, misalnya untuk sistem pembanding harga produk antar beberapa web toko online. Contoh yang lain, deteksi content structure dari sebuah halaman web dapat dimanfaatkan untuk membuat sistem browser untuk handled device (sebagai fasilitas untuk browsing halaman yang cukup panjang dengan membaginya ke bagian2 yang lebih kecil). Selain itu, ada juga yang menyimpan data yang telah diekstrak tersebut ke dalam database untuk kemudian diteliti dengan menggunakan proses-proses data mining untuk keperluan tertentu.
</p>
<p>
Tugas Akhir ini akan menggunakan metode Visual-Based Page Segmentation untuk mengekstrak data dari halaman web. Metode ini akan memanfaatkan penanda visual (visual cues) dari halaman web untuk mengekstrak data dari halaman web tersebut.
</p>
<p>
User melihat sebuah halaman web melalui web browser dan mendapatkan representasi 2D yang mempunyai banyak visual cues (penanda visual) untuk membantu membedakan bagian bagian yang berbeda dari halaman tersebut. Seorang web designer biasanya mengorganisasi content dari sebuah halaman web agar mudah untuk dibaca/dipahami oleh user. Oleh karena itu, content-content yang berhubungan secara semantik biasanya diletakkan dalam satu kelompok dan halaman web tersebut dibagi menjadi region-region untuk content yang berbeda dengan menggunakan visual separator seperti garis, daerah kosong, gambar, ukuran font, warna, dll. Content-content yang sejenis biasanya akan ditampilkan dengan bentuk visual yang sama atau sejenis pula. Visual cues inilah yang akan dimanfaatkan untuk proses identifikasi dan ekstraksi data.
</p>

<br />

<b><%= (Time.now - time) %></b>
